# OS files
.DS_Store

# Logs
*.log

# Python
__pycache__/
*.pyc

# Node
node_modules/

# Terraform
infra/terraform/.terraform/
infra/terraform/.terraform.lock.hcl
infra/terraform/terraform.tfstate
infra/terraform/terraform.tfstate.backup
infra/terraform/terraform.tfvars
*.tfplan
